<!DOCTYPE html>
<html lang="en">
<head>
  <title>online freelance market</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body style="background-color:floralwhite">
  

<nav class="navbar navbar-default" style="text-emphasis-color: cornflowerblue">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Anabiz</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="../landingpage.html">Home</a></li>
      <li><a href="../signup.html">sign up</a></li>
        <li><a href="../login.html">login</a></li>
    </ul>
  </div>
</nav>


<h2 style="background-color:rgb(28, 202, 28); text-align: center;"> 
  welcome to our Agric category
</h2><br>
<h4 style="text-align: center;">
  Here are some of the best Agricultural experts in the world, book someone today and see for yourself.
</h4><br><br>


<div id="agric" style="margin-left: 110px;">


</div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
<script src="file:///C:/Users/Anabiz/deca-probation/template/agric.js"></script>

</body>
</html>
